{% extends 'base.html' %}
{% load leaflet_tags %}
{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block style %}
    <style>
      .map {
        height: 830px;
        width: 100%;
        object-position: center;
      }
    </style>
{% endblock style %}
{% block body %}
    <div class="navbar navbar-dark bg-pansa">
        <h3 class="titles">Airspace Use Plan</h3>
    </div>
    <div id="map" class="map">
    {% leaflet_map "map" callback="aup_map_init" %}
            <script>
                function aup_map_init (map, options) {
                    fetch('./aup_geo_json')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                      L.geoJSON(data).addTo(map);
                    })
                }
            </script>
    </div>
{% endblock body %}